* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 113px;

    margin: 1px;
    padding: 1px 8px;
    cursor: pointer;
}
.border{
    border: 1px solid transparent;
}
.border :hover{
    border: 1px solid white;
}

.location{
    cursor: pointer;
}

.logo {
    height: 50px;
    width: 113px;
    background-size: cover;
    background-image: url(image/amazon_logo.png);

}

.locfirst {
    font-size: 0.85rem;
    color: white;
    margin-left: 15px;
}

.locsecond {
    font-size: 1rem;
    margin-left: 3px;
}

.location-icon {
    
    display: flex;
    
}

.navsearch{
    display: flex;
    padding: 10px 4px 10px 3px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
}
.serall{
    padding:10px 10px 10px 10px;
    
}
.searamaz{
    padding:10px 10px 10px 10px;
    width: 350px;
}
.iconser{
    
    background-color:#fedb68;
    padding:10px 10px 10px 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    color: #0f1111;
    
}
.en{
    display: flex;
    align-items: center;
    cursor: pointer;

}
.indflag{
    margin-left: 5px;
}
.enlan{
    margin-left: 3px;
}
.hellow{
    margin-left: 15px;
    cursor: pointer;
}
.help1{
    font-size: 12px;
}
.help2{
    font-size: 14px;
}
.CART{
    display: flex;
   
}
.carttext{

    font-size: 20px;
    margin-left: 5px;
   
}
.navbelow{
    height: 40px;
    background-color: #192222;
    color: white;
    display: flex;
    align-items: center;
    
}
.space{
    margin-left: 15px;
}
.hero{
   background-image: url(image/hero_image.jpg);
   height: 400px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.herotext{
      height: 40px;
      background-color: white;
      color: black;
      width: 80%;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 50px;
      
}
.shopsection1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    color: black;
    font-size: 18px;
   
    font-weight:bolder;
}
.shopsection2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    color: black;
    font-size: 18px;
   
    font-weight:bolder;
}
.box1{
    height: 380px;
    width: 300px;
    background-color: white;
   padding: 15px 15px 15px 15px;
   margin-left: 15px;
   box-shadow: grey 5px 7px 5px 7px;
 
}
.b1img
{
    background-image: url(image/box2_image.jpg);
    height: 350px;
    width: 270px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
}
.box2{
    height: 380px;
    width: 300px;
    box-shadow: grey 5px 7px 5px 7px;
   padding: 15px 15px 15px 15px;
   margin-left: 15px;
   
}
.box3{
    height: 380px;
    width: 300px;
    box-shadow: grey 5px 7px 5px 7px;
   padding: 15px 15px 15px 15px;
   margin-left: 15px;
}
.box4{
    height: 380px;
    width: 300px;
    box-shadow: grey 5px 7px 5px 7px;
   padding: 15px 15px 15px 15px;
   margin-left: 15px;
}
.box5{
    height: 380px;
    width: 300px;
    box-shadow: grey 5px 7px 5px 7px;
   padding: 15px 15px 15px 15px;
   margin-left: 15px;
}
.box6{
    height: 380px;
    width: 300px;
    box-shadow: grey 5px 7px 5px 7px;
   padding: 15px 15px 15px 15px;
   margin-left: 15px;
}
.b2img
{
    background-image: url(image/box3_image.jpg);
    height: 350px;
    width: 270px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
}
.b3img
{
    background-image: url(image/box4_image.jpg);
    height: 350px;
    width: 270px;
    display: flex;
    align-items: flex-end;
}
.popup{
    height: 30px;
    background-color: rgb(38, 36, 36);
    width: 270px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 15px;
    opacity: 0;
    transition: 1s;
    
    
    
}
.b1img:hover .popup{
    opacity: 1;
   padding-top: 0px;
}
.b2img:hover .popup{
    opacity: 1;
   padding-top: 0px;
}
.b3img:hover .popup{
    opacity: 1;
   padding-top: 0px;
}
.b4img:hover .popup{
    opacity: 1;
   padding-top: 0px;
}
.b5img:hover .popup{
    opacity: 1;
   padding-top: 0px;
}
.b6img:hover .popup{
    opacity: 1;
   padding-top: 0px;
}
.b4img
{
    background-image: url(image/box7_image.jpg);
    height: 350px;
    width: 270px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
}
.b5img
{
    background-image: url(image/box5_image.jpg);
    height: 350px;
    width: 270px;
    display: flex;
    align-items: flex-end;
    background-size: cover;

 
    
}
.b6img
{
    background-image: url(image/box6_image.jpg);
    height: 350px;
    width: 270px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    
}